<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//yui.yahooapis.com/combo?pure/0.3.0/base-min.css&pure/0.3.0/grids-min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="main">
        <header class="tac">
            <div class="cake-box">
                <i class="cake icon-cake"></i>
            </div>
            <div class="streak vertical-center">
                <div id="circle-1" class="circle vertical-center"></div>
                <div id="circle-2" class="circle vertical-center"></div>
                <div id="circle-3" class="circle vertical-center"></div>
                <div id="circle-4" class="circle vertical-center"></div>
            </div>
        </header>
        {{ content }}
    </div>
</body>
</html>
