---
layout: default
---
<section class="post-container">
    <h1 class="tac">{{ page.title }}</h1>
    <h4 class="tac post-excerpt">{{ page.excerpt }}</h4>
    <h5 class="muted tac">{{ page.date | date_to_string }}</h5>
    <hr class="vblock">
    <div class="text-heavy post">{{ content }}</div>
    <ul class="post-tags">
        {% for category in page.categories %}
            <li>
                <span class="post-tag muted" href="#">{{ category }}</span>
            </li>
        {% endfor %}
    </ul>
</section>

<hr class="vblock streak" />

<section class="pure-g-r">
    <div class="pure-u-1-2">
        <a href="{{page.next.url}}" class="post-nav post-nav-next">
            <div class="post-nav-indicator">next &raquo;</div>
            <div class="post-title">{{ page.next.title }}</div>
            <div class="post-summary">{{ page.next.excerpt }}</div>
        </a>
        <hr class="vblock">
    </div>
    <div class="pure-u-1-2">
        <a href="{{page.previous.url}}" class="post-nav post-nav-previous">
            <div class="post-nav-indicator">&laquo; previous</div>
            <div class="post-title">{{ page.previous.title }}</div>
            <div class="post-summary">{{ page.previous.excerpt }}</div>
        </a>
    </div>
</section>

<hr class="vblock streak" />
